#DATABASE_URL=postgres://postgres:Nischal@2k7@localhost:5432/projectsphere

DATABASE_URL=postgres://postgres:Nischal@2k7@db.rmeghkucvxjbqkmhpaki.supabase.co:5432/projectsphere

API_PORT=4000
FRONTEND_ORIGIN=http://127.0.0.1:3001,http://localhost:3001,http://192.168.29.144:3001
NEXT_PUBLIC_API_URL=http://127.0.0.1:4000

APP_BASE_URL=http://127.0.0.1:3001

AUTH0_DOMAIN=dev-2jhsnxw4ktwdmftz.us.auth0.com
AUTH0_CLIENT_ID=RNevgqtrokNW2ntqmBimUnehWvYrMe9A
AUTH0_CLIENT_SECRET=9Pn7I_ZLNcrW1Z4jUr6dZCRZOrdPW3tZDoFB4DRst8Q7IHTb5LvUhxa2Sy-SVDIg
AUTH0_SECRET=0c7254ef21e2b20930d791b0d710aabcea70634e2b1c0f888204724f8af9faa7

